:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.about-paragraphs {
  margin: 30px 0;
}
.about-paragraphs p {
  margin: 10px;
}

.title {
  margin-top: 100px;
}
.text-center {
  text-align: center !important;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-radius: 4px;
  padding: 20px 15px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.hero {
  background-color: #f9f7fe;
  padding: 40px;
  margin: 40px 0;
}
.project-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.content-section {
  margin-top: 100px;
}
.content-section h1 {
  font-size: 56px;
  margin-bottom: 20px;
}
.content-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.content-section p {
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 32px;
}
.content-section h3 {
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    margin-bottom: 15px;
    text-align: center;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    padding: 15px;
    text-align: center;
  }
  a {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }
  img {
    max-width: 400px;
    margin-bottom: 30px;
  }
  .project {
    display: none;
  }
}
